*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho{
    background-color: #333;
    color: #fff;
    height: 80px;
    margin-bottom: 20px;
}

#cabecalho h1{
    padding: 20px;
}

#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    margin: 0 20px;
}

.conteudo{
    width: 180px;
    height: 380px;
    border: 1px solid #333;
    margin: 20px;
    box-shadow: 8px 8px 8px rgb(175, 171, 171);
}

.imagem{
    padding: 15px
}

.conteudo h3{
    font-size: 17px;
    text-align: center;
    padding-bottom: 10px;
}

.conteudo h4{
    font-size: 13px;
    text-align: center;
}

.conteudo p{
    font-size: 13px;
    padding: 20px 10px;
}

#rodape{
    background-color: #333;
    color: #fff;
    margin-top: 148px; 
    height: 50px;
    text-align: center;
}

#rodape h6{
    padding: 15px;
}

hr{
    height: 1px;
    width: 179px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: black;
}

.conteudo:hover{
    transform: scale(1.05);
}